node_modules
npm-debug.log
/build
/public-second
/public-rtdconnect
public/index.html
public/Logo.svg
public/edbotz-favicon.svg
.env*
.runtimeconfig.json
firebase-debug.log
database-debug.log
firestore-debug.log
ui-debug.log
.firebase/
*.log
**/.claude/settings.local.json
functions/.cache/
functions/.puppeteerrc.cjs
stripe-sample-code/
genkit
